#editEvent.edit-container{
    padding:20px;
    background-color: #162447;
}
#editEvent .form-container{
    margin-top: 90px;
}
.heading-edit{
    text-align: left;
    padding-left: 50px;
    color: black;
}
