.booked-event-details{
    text-align: left;
    font-weight: bold;
    color: #162447;
}
.booked-event-details-container{
    margin-left: 15px;
    padding-bottom: 10px;
}
.total{
    margin: 15px auto;
    height: 66px;
    padding-top: 10px;
    width: 80%;
    position: relative;
}
.total b{
    margin: auto;
    margin-right: 15px;
    display: inline-block;
}
.event-list-paper{
    cursor: pointer;
}
.search-box{
    display: inline-block;
    width: 50%;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
    border: none;
    box-shadow: 0px 1px 3px 1px grey;
}
.total-bookings{
    right: 20px;
    top: 14px;
    position: absolute;
    padding: 5px;
    text-align: center;
    width: 210px;
    height: 130px;
    margin-top: 5px;
    background-color:#162447;
    color: white;
    border-radius: 20px;
}
.count{
    font-size: 40px;
    color: white;
}