.featured-events-container{
    margin-left: 30px;
    /* padding-top: 20px; */
}
.heading-featured-events{
    padding-left: 55px;
    text-align: left;
    margin-top: 60px;
    margin-bottom: 10px;
}

.PrivateTabIndicator-root-258.PrivateTabIndicator-colorSecondary-260.MuiTabs-indicator{
    background-color: black;
}
.carouselContainer{
    margin-top: -51px;
    height: 384px;
    width: 100%;
    background-color:#162447; 
  }
  .home-container{
    background-color: white;
}