.tab-list {
    border-bottom: 1px solid #ccc;
    padding-left: 0;
  }
  
  .tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
  }
  
  .tab-list-active {
    background-color: white;
    border: solid #ccc;
    border-width: 1px 1px 0 1px;
  }

  .search-field{
    display: inline-block;
  }
  /* #lbl-search{
    margin: 5px;
    width: auto;
    padding: 5px;
    border: 1px solid white;
}*/
.search{
  width: auto;
} 
.icon-btn{
 border: none;
}
.paper-categories{
  margin: 30px;
  margin-left: 60px;
}
.heading-genre{
  top: 15px;
  margin-right: 20px;
}
.search-container{
}
.genre{
  position: relative;text-align: left;
  padding-left: 60px;
}
.genre>*{
 display: inline-block;
 position: relative;
}



