.logos-container{
    position: relative;
    margin: 5px;
}
.logos{
    display: inline-flex;
}
.logos-container .MuiAvatar-root.MuiAvatar-circle.logos{
    display: inline-flex;
}
p.logos{
    position: relative;
    bottom: 15px;
    margin-left: 10px;
}
.snack-bar-container{
    position: relative !important;
    top: 4em;
    left: 4em;
}
.snack-bar{
    position: absolute !important;
    top: 0;
    left: 0;
}