#booking-details #category-tag{
    left: 9px;
    bottom: 9px;
}
.bookings-paper{
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}
.bookings-paper h3{
    padding-top: 10px;
}
.evt-details .icon-says{
    width: 160px;
    text-align: left;
    margin: 5px;
    padding: 5px;
    padding-left: 31px;
}


